.st0{fill:none;stroke:#3C3CCE;stroke-width:35;stroke-miterlimit:10;}
.st1{fill:none;stroke:#3C3CCE;stroke-width:35;stroke-miterlimit:10;}
.punt{stroke:red;stroke-width:1;stroke-miterlimit:10;}
div {width: 50%;}
svg {background-color: darkblue;}
path {stroke: white;}